<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!  </h1>
    <body style="background-color:rgb(250, 230, 233)" >
      <h2 style="padding-left:15px;">    ORDER NOW FROM HERE
    </h2>
    
 
            <!-- <img width="1000" alt="Angular Logo" src="assets/image/newfig.jpg"> -->
            <nav class="navbar navbar-inverse" style="width:auto"></nav>
        
<app-pizza-get></app-pizza-get>

<router-outlet></router-outlet>

</body>